<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"></head>

<body>
<div th:replace="fragments/header :: header"></div>

<!--<h1>
    <figure class="figure1">
    <img th:src="@{/img/img1.jpg}" class="figure-img1" alt="...">
    <figcaption class="figure-caption">Test 1</figcaption>
    </figure>
</h1>
<h2><figure class="figure2">
    <img th:src="@{/img/img2.jpg}" class="figure-img1" alt="...">
    <figcaption class="figure-caption">Test 2</figcaption>
</figure></h2>
<h3>
    <figure class="figure3">
        <img th:src="@{/img/img3.jpg}" class="figure-img1" alt="...">
        <figcaption class="figure-caption">Test 3</figcaption>
    </figure>
</h3>
<h4>......</h4>
<h2>......</h2>
<h3>......</h3>
<h4>......</h4>
<h2>......</h2>
<h3>......</h3>
<h4>......</h4>-->


<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Our Work</h1>
            <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
        </div>
        <div class="row gx-5">
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5 mb-lg-0">
                    <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
