<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header-css}"></head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<!--================Single Attraction Area =================-->
<div class="attraction_image_area">
  <div class="container">
    <div class="row attraction" th:each="attraction : ${attractions}">
      <div class="col-lg-6">
        <h3 th:text="${attraction.name}"></h3>
        <div class="card-attraction__img">
          <img class="card-img" th:src="@{/img/img1.jpg}" alt="data">
          <ul class="card-attraction__imgOverlay">
            <li class="address" th:text="${attraction.address}"></li>
            <li class="openingHours" th:text="${attraction.openingHours}"></li>
            <li class="contact" th:text="${attraction.contact}"></li>
            <li class="adultPrice" th:text="${attraction.adultPrice}"></li>
            <li class="priceForChildren" th:text="${attraction.priceForChildren}"></li>
          </ul>
          <div class="s_attraction_text">

            <a class="active" th:href="@{/index}">
              <span type="button" class="btn btn-primary">Hotels</span></a>

            <a class="active" th:href="@{/viewRestaurant}">
              <span type="button" class="btn btn-primary">Restaurants</span></a>

            <div class="card_area d-flex align-items-center">
              <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
              <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
            </div>
            <hr>
        </div>
    </div>
  </div>
</div>
<!--================End Single Attraction Area =================-->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>


</html>