



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header-css}"></head>

<body>
<div th:replace="~{fragments/header :: header}"></div>






<!--================Single Hotel Area =================-->
<div class="hotel_image_area">
  <div class="container">
    <div th:object="${hotel}" class="row hotel">
      <div class="col-lg-6">
        <h3 th:text="${hotel.name}"></h3>
        <div class="card-hotel__img">
          <img class="card-img" th:src="@{/img/img1.jpg}" alt="data">
          <ul class="card-hotel__imgOverlay">
            <li><i class="address" th:text="${hotel.address}"></i></li>
            <li><i class="contact" th:text="${hotel.contact}"></i></li>
            <li><i class="phoneNumber" th:text="${hotel.phoneNumber}"></i></li>
            <li><i class="priceFrom" th:text="${hotel.priceFrom}"></i></li>
          </ul>
          <div class="s_hotel_text">

            <a class="active" th:href="@{/viewRestaurant}">
              <span type="button" class="btn btn-primary">Restaurants</span></a>
            <a class="active" th:href="@{/viewAttraction}">
              <span type="button" class="btn btn-primary">Attractions
              </span></a>


            <div class="card_area d-flex align-items-center">
              <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
              <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Hotel Area =================-->





<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
