



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header-css}"></head>

<body>
<div th:replace="~{fragments/header :: header}"></div>






<!--================Single Hotel Area =================-->
<div class="hotel_image_area">
  <div class="container">
    <div th:object="${hotel}" class="row hotel">
      <div class="col-lg-6">
        <h3 th:text="${hotel.name}"></h3>
        <div class="card-hotel__img">
          <img class="card-img" th:src="@{/img/img1.jpg}" alt="data">
          <ul class="card-hotel__imgOverlay">
            <li><i class="ti-search">Address : 31 Mihai Viteazul</i></li>
            <li><i class="restaurant">Contact</i></li>
            <li><i class="attraction">Phone Number</i></li>
            <li><i class="attraction">Price from</i></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_hotel_text">

            <a class="active" href="#"><span type="button" class="btn btn-primary">Restaurants</span>

            <a class="active" href="#"><span type="button" class="btn btn-primary">Attractions</span>


          <div class="card_area d-flex align-items-center">
            <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
            <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Hotel Area =================-->





<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
