<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View Review</title>
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/vendors/linericon/style.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>

<!--================Single Review Area =================-->
<div class="review_image_area">
  <div class="container">
    <div th:object="${review}" class="row review">
      <div class="col-lg-6">
        <h3 th:text="${review.name}"></h3>
        <div class="card-review__img">
          <img class="card-img" alt="data">
          <ul class="card-review__imgOverlay">
            <li><button><i class="ti-search"></i></button></li>
            <li><button><i class="restaurant"></i></button></li>
            <li><button><i class="attraction"></i></button></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_review_text">

          <ul class="list">
            <li><a class="active" href="#"><span>Reviews</span> : <span th:text="${review.reviews}"></span></a></li>
          </ul>
          <p th:text="${review.description}"></p>
          <div class="card_area d-flex align-items-center">
            <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
            <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Review Area =================-->
</body>
</html>